.welcome 
	.content
		margin: 4em auto
		+MQ(M) 
			max-width: $M
	.view-more
		text-align: center

	.presentation
		@include padding(2em 0)
		.cd-container
			width: 90%
			+margin(0 auto)
			+clearfix
			+MQ(XL)
				max-width: $XL
				width: 100%
