body {
    ///////////////////////////////////////////////////////////////////////////////////

    h1, h2, h3, p {
        margin: 0;
    }
    hr {
        border-bottom: 1px solid $light-gray;
        border-left: none;
        border-right: none;
        border-top: none;
        margin: $base-spacing 0;
    }
    p {
        color: $base-font-color;
        line-height: $base-line-height;
    }
    a {
        color: $base-link-color;
        text-decoration: none;
    }
    //////////////////////////////////////////////////////////////////////////////////

    //@include clearfix;
    //text-align: left;
    .type {
        border-bottom: 1px solid;
        display: inline-block;
        font-family: $sans-serif;
        font-size: 0.7em;
        font-weight: 700;
        margin-bottom: 2em;
        padding: 0.3em 0;
        text-align: left;
        text-transform: uppercase;
    }
    h1 {
        font-family: $sans-serif-2;
        font-size: 2em;
        line-height: 1.25;
        font-weight: 700;
        letter-spacing: normal;
        margin-bottom: 0.5em;
        @include MQ(M) {
            font-size: 2.5em;
            line-height: 1.125;
        }
        @include MQ(L) {
            font-size: 3em;
            line-height: 1.05;
        }
    }
    h2 {
        font-family: $sans-serif-2;
        font-size: 1.625em;
        line-height: 1.15384615;
        font-weight: 400;
        letter-spacing: normal;
        margin-bottom: 0.9em;
        @include MQ(M) {
            font-size: 2em;
        }
        @include MQ(L) {
            font-size: 2.25em;
            line-height: 1.25;
        }
    }
    h3 {
        font-family: $sans-serif-2;
        font-size: 1.375em;
        line-height: 1.13636364;
        font-weight: 400;
        letter-spacing: normal;
        margin-bottom: 0.4em;
        @include MQ(M) {
            font-size: 1.5em;
        }
        @include MQ(L) {
            font-size: 1.75em;
            line-height: 1.25;
        }
    }
    h4 {
        font-family: $sans-serif-2;
        font-size: 1.125em;
        font-weight: 400;
        line-height: 1.13636364;
        margin-bottom: 0.4em;
        @include MQ(L) {
            font-size: 1.75em;
            line-height: 1.125;
        }
    }
    code {
        background: #F7F7F7;
        border-radius: $base-border-radius * 1.5;
        border: 1px solid #E0E0E0;
        font-family: monaco;
        font-size: 0.7em;
        font-style: normal;
        padding: 0.1em 0.4em;
        white-space: nowrap;
    }
    blockquote {
        font-size: 1.25em;
        @include MQ(L) {
            font-size: 1.5em;
        }
    }
    p.date {
        color: transparentize($base-font-color, 0.6);
        font-family: $sans-serif;
        font-size: 0.9em;
        margin-bottom: 0.3em;
    }
    p {
        font-family: $sans-serif;
        font-size: 1.25em;
        font-weight: 400;
        line-height: 1.4em;
        margin-bottom: 1.5em;
        span {
            //font-family: $sans-serif-2;
            font-size: 0.8em;
            text-transform: uppercase;
        }
    }
    a.read-more, {
        display: inline-block;
        font-family: $sans-serif-2;
        font-size: 0.8em;
        font-weight: 400;
        margin-left: 0.2em;
        position: relative;
        text-transform: uppercase;
        &:hover {
            color: rgba($base-link-color, 0.7)
        }
        span {
            font-size: 1.5em;
            position: absolute;
            right: -12px;
            top: -1px;
        }

    }
    hr {
        width: 3em;
    }
    p.author {
        font-family: $sans-serif;
    }
}
