/* -------------------------------- 

Header

-------------------------------- */

header {
    background: $color-3;
    border-bottom: 1px solid $border-color;
    padding: 30px 0 0;
    width: 90%;
    @include MQ(M) {
        padding: 60px 0 0;
    }
    @include MQ(XL) {
        width: 100%;
    }
    h1 {
        margin-bottom: 0.3em;
    }
}