/* -------------------------------- 

Menu

-------------------------------- */

    
.sliding-menu-content {
    font-family: $sans-serif;
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    @include position(fixed, 0px auto 0px 0px);
    @include size(220px 100%);
    @include transform(translateX(-220px));
    @include transition(all 0.50s ease);
    background: $sliding-menu-background;
    z-index: 3;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    li a {
        border-bottom: $sliding-menu-border;
        color: $sliding-menu-color;
        display: block;
        font-weight: bold;
        padding: 1em;
        &:focus {
            background-color: $sliding-menu-background-focus;
        }
        &:hover {
            background-color: $sliding-menu-background-hover;
            color: $sliding-menu-color-hover;
        }
    }
    &.is-visible {
        @include transform(translateX(0));
    }
}

.sliding-menu-fade-screen {
    @include position(fixed, 0);
    @include transition;
    background: $sliding-menu-fade-background;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    &.is-visible {
        opacity: $visible-opacity;
        visibility: visible;
    }
}

.sliding-menu-button {
    @include button(flat, $sliding-menu-background);
    @include position(fixed, null null 10px 10px);
    svg {
        @include size(45px 45px);
        g {
            fill: $color-3;
        }
    }
    @include inline-block;
    @include padding(9px 10px 7px 10px);
    border-radius: 2.5px;
    z-index: 2;
    opacity: 0.7;


    @include MQ(M) {
        @include position(fixed, auto auto auto 0);
        background: $color-3;
        svg {
            @include size(32px 32px);
            g {
                fill: $sliding-menu-background;
            }
        }
        height: 100%;
        border-right: 2px dashed $border-color;
        @include padding(0 10px);
        cursor: pointer;
    }

}

