/* -------------------------------- 

Variables

-------------------------------- */

// colors secondary nav
//$color-1: #030d18 !default; // blue dark
//$color-2: #f5484a;// orange
$color-3: #f0eee1 !default;// cream
$color-4: #ffffff !default;// white

$dark-gray: #484848 !default;
$light-gray: #ABB7B7 !default;
$light: $color-3;
// colors


$color-2: #f82f53; // crimson
//$color-3: #47374e; // purple
//$color-4: #ffffff; // white
//$color-2: ED7263;

//$color-1: #2b3e51; // Pickled Bluewood
//$color-2: #2c97de; // Curious Blue
//$color-3: #ecf0f1; // Porcelain
//$color-4: #ffffff; // White
//$color-5: #e94b35; // Cinnabar

//$color-2: #2BA0A3 !default;
$accent-color: $color-2;
$border-color: $light-gray;
$color-1: #3e585f !default; // green dark

//menu
$sliding-menu-border-color: lighten($dark-gray, 15%);
$sliding-menu-background: lighten($dark-gray, 5%);
$sliding-menu-color: $color-3;
$sliding-menu-border: 1px solid $sliding-menu-border-color;
$sliding-menu-background-hover: $color-2;
$sliding-menu-color-hover: $color-3;
$sliding-menu-background-focus: $color-3;

//sliding menu fade screen
$sliding-menu-fade-background: lighten($dark-gray, 5%);
$visible-opacity: 0.2;
//menu

//skills
$base-border-color: $border-color !default;
$base-border-radius: 3px !default;
$base-background-color: white !default;
$base-line-height: 1.5em !default;
$base-accent-color: $color-2 !default;
//skills

//form
$box-shadow: 3px 3px 3px rgba($color-1, .5);
$text-shadow: 0 1px 0 rgba(0,0,0,.15);;
//form

//typography
$base-border-radius: 3px !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;
//$base-accent-color: $color-2 !default;
$base-link-color: $base-accent-color !default;
$dark-gray: #333 !default;
$light-gray: #DDD !default;
$medium-screen: em(640) !default;
$large-screen: em(860) !default;
$base-font-color: $dark-gray !default;

//$medium-screen: em(640) !default;
$base-font-color: $dark-gray !default;


// fonts 
$primary-font: 'Imprima', sans-serif;

//more typography
$sans-serif: 'Imprima', sans-serif;
$sans-serif-2: 'archisticobold', Arial, sans-serif;
// fonts 

$middle-font-size: 145%;
$footer-font-size: 90%;
$skills-font-size: 100%;
$work-description-font-size: 85%;