* {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'archisticobold';
  src: url("Archistico_Bold-webfont.eot");
  src: url("Archistico_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("Archistico_Bold-webfont.woff") format("woff"), url("Archistico_Bold-webfont.ttf") format("truetype"), url("Archistico_Bold-webfont.svg#archisticobold") format("svg");
  font-weight: normal;
  font-style: normal; }
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family: "Imprima";
  src: url("Imprima-Regular.eot?") format("eot"), url("Imprima-Regular.woff") format("woff"), url("Imprima-Regular.ttf") format("truetype"), url("Imprima-Regular.svg#Imprima-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* -------------------------------- 

Variables

-------------------------------- */
/* -------------------------------- 

Mixins

-------------------------------- */
/* -------------------------------- 

Layout

-------------------------------- */
/* -------------------------------- 

Primary style

-------------------------------- */
*,
*::after,
*::before {
  box-sizing: border-box; }

/* applies to GIF and PNG images; avoids blurry edges */
*::after,
*::before {
  content: ''; }

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit; }

button::before, button::after {
  content: none !important; }

body {
  image-rendering: pixelated;
  -webkit-font-smoothing: antialiased;
  font-family: "Imprima", sans-serif;
  position: relative;
  color: #3e585f;
  background-color: #F7F7F7; }
  @media only screen and (min-width: 600px) {
    body {
      padding-left: 52px; } }
  body::after {
    /* dark overlay layer - visible when we fire .cd-quick-view */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(72, 72, 72, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s 0s, visibility 0s .3s; }
  @media only screen and (min-width: 1024px) {
    body.overlay-layer::after {
      visibility: visible;
      opacity: 1;
      transition: opacity .3s 0s, visibility 0s 0s; } }

header, .content, .presentation, .middle, footer {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  header:after, .content:after, .presentation:after, .middle:after, footer:after {
    content: "";
    display: table;
    clear: both; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 1em;
  font-family: "Imprima", sans-serif;
  line-height: 1.25; }
  @media only screen and (min-width: 600px) {
    html,
    body {
      line-height: 1.375; } }

.content {
  position: relative;
  width: 90%; }

h1, h2, h3, h4 {
  color: #333; }

.shadow-parent .shadow-child {
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; }
  .shadow-parent .shadow-child:before, .shadow-parent .shadow-child:after {
    content: '';
    z-index: -1;
    position: absolute;
    left: 10px;
    bottom: 11px;
    width: 70%;
    max-width: 14em;
    /* avoid rotation causing ugly appearance at large container widths */
    max-height: 60px;
    height: 55%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -webkit-transform: skew(-15deg) rotate(-6deg);
    transform: skew(-15deg) rotate(-6deg); }
  .shadow-parent .shadow-child:after {
    left: auto;
    right: 10px;
    -webkit-transform: skew(15deg) rotate(6deg);
    transform: skew(15deg) rotate(6deg); }                        
                        
.latest {
  position: relative;
  background: #F7F7F7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.container-latest {
  position: relative;
  padding: 50px 0;
  width: auto;
  height: auto;
  text-align: center; }

.box {
  position: relative;
  display: block;
  margin: 0 auto;
  background: #FED376;
  max-width: 500px;
  height: 80px;
  transition: all 300ms ease-in-out;
  cursor: pointer; }
  .box:hover {
    box-shadow: 0 8px 10px #A2D7BF;
    margin: 10px auto;
    max-width: 508px;
    height: 88px;
    border-radius: 2px; }
  .box h2 {
    position: absolute;
    font-family: Montserrat, sans-serif;
    padding: 8px 10px;
    color: #fff;
    font-size: 20px; }

@media screen and (min-width: 860px) {
  .box {
    display: inline-block;
    width: 180px;
    height: 180px;
    margin: 50px -3px; }
    .box:hover {
      height: 188px;
      width: 188px;
      margin: 46px 10px; }
    .box h2 {
      padding: 10px 10px;
      font-size: 25.71429px; } }
@media screen and (min-width: 1200px) {
  .box {
    width: 240px;
    height: 240px; }
    .box:hover {
      height: 248px;
      width: 248px; }
    .box h2 {
      padding: 14px 16px;
      font-size: 30px; } }
/* -------------------------------- 

Menu

-------------------------------- */
.sliding-menu-content {
  font-family: "Imprima", sans-serif;
  position: fixed;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 220px;
  -webkit-transform: translateX(-220px);
  transform: translateX(-220px);
  transition: all 0.5s ease;
  background: #555555;
  z-index: 3;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .sliding-menu-content ul {
    padding: 0;
    margin: 0; }
  .sliding-menu-content li {
    list-style: none; }
  .sliding-menu-content a {
    text-decoration: none; }
  .sliding-menu-content li a {
    border-bottom: 1px solid #6e6e6e;
    color: #F7F7F7;
    display: block;
    font-weight: bold;
    padding: 1em; }
    .sliding-menu-content li a:focus {
      background-color: #F7F7F7; }
    .sliding-menu-content li a:hover {
      background-color: #f82f53;
      color: #F7F7F7; }
  .sliding-menu-content.is-visible {
    -webkit-transform: translateX(0);
    transform: translateX(0); }

.sliding-menu-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.15s ease-out 0s;
  background: #555555;
  opacity: 0;
  visibility: hidden;
  z-index: 1; }
  .sliding-menu-fade-screen.is-visible {
    opacity: 0.2;
    visibility: visible; }

.sliding-menu-button {
  background-color: #555555;
  border-radius: 3px;
  border: none;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-decoration: none;
  background-clip: padding-box;
  background-color: #555555;
  border-radius: 3px;
  border: none;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-decoration: none;
  background-clip: padding-box;
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: inline-block;
  padding: 9px 10px 7px;
  border-radius: 2.5px;
  z-index: 2;
  opacity: 0.7; }
  .sliding-menu-button:hover:not(:disabled) {
    background-color: #626262;
    cursor: pointer; }
  .sliding-menu-button:active:not(:disabled), .sliding-menu-button:focus:not(:disabled) {
    background-color: #484848;
    cursor: pointer; }
  .sliding-menu-button:hover:not(:disabled) {
    background-color: #655e5e;
    cursor: pointer; }
  .sliding-menu-button:active:not(:disabled), .sliding-menu-button:focus:not(:disabled) {
    background-color: #484848;
    cursor: pointer; }
  .sliding-menu-button:disabled {
    opacity: 0.5;
    cursor: not-allowed; }
  .sliding-menu-button svg {
    height: 45px;
    width: 45px; }
    .sliding-menu-button svg g {
      fill: #F7F7F7; }
  @media only screen and (min-width: 600px) {
    .sliding-menu-button {
      position: fixed;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      background: #F7F7F7;
      height: 100%;
      border-right: 2px dashed #ABB7B7;
      padding: 0 10px;
      cursor: pointer; }
      .sliding-menu-button svg {
        height: 32px;
        width: 32px; }
        .sliding-menu-button svg g {
          fill: #555555; } }

/* -------------------------------- 

Header

-------------------------------- */
header {
  position: relative;
  background: #F7F7F7;
  padding: 30px 0 0;
  width: 100%;
  height: 120px;
  background-image: url(../images/devuiux.png);
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: auto 50%; }
  header a {
    display: inline-block;
    float: left;
    height: 60px;
    width: 100px;
    margin-left: 20px; }
  header h1 {
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-bottom: 0.3em; }
  @media only screen and (min-width: 600px) {
    header {
      background-position: 50px center; }
      header a {
        margin-left: 50px; }
      header h1 {
        margin-right: 50px; } }

h1, h2, h3, p {
  margin: 0; }

hr {
  border-bottom: 1px solid #ABB7B7;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

p {
  color: #444;
  line-height: 1.5em; }

a {
  color: #f82f53;
  text-decoration: none; }
  a:hover {
    color: rgba(248, 47, 83, 0.6); }

.type {
  border-bottom: 1px solid;
  display: inline-block;
  font-family: "Imprima", sans-serif;
  margin-bottom: 2em;
  padding: 0.3em 0;
  text-align: left;
  text-transform: uppercase; }

h1 {
  font-family: "archisticobold", Arial, sans-serif;
  font-size: 2em;
  line-height: 1.25;
  letter-spacing: normal;
  margin-bottom: 0.5em; }
  @media only screen and (min-width: 600px) {
    h1 {
      font-size: 2.5em;
      line-height: 1.125; } }
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 3em;
      line-height: 1.05; } }

h2 {
  font-family: "archisticobold", Arial, sans-serif;
  font-size: 1.625em;
  line-height: 1.15384615;
  letter-spacing: normal;
  margin-bottom: 0.9em; }
  @media only screen and (min-width: 600px) {
    h2 {
      font-size: 2em; } }
  @media only screen and (min-width: 1024px) {
    h2 {
      font-size: 2.25em;
      line-height: 1.25; } }

h3 {
  font-family: "archisticobold", Arial, sans-serif;
  font-size: 1.375em;
  line-height: 1.13636364;
  letter-spacing: normal;
  margin-bottom: 0.4em; }
  @media only screen and (min-width: 600px) {
    h3 {
      font-size: 1.5em; } }
  @media only screen and (min-width: 1024px) {
    h3 {
      font-size: 1.75em;
      line-height: 1.25; } }

h4 {
  font-family: "archisticobold", Arial, sans-serif;
  font-size: 1.125em;
  line-height: 1.13636364;
  margin-bottom: 0.4em; }
  @media only screen and (min-width: 1024px) {
    h4 {
      font-size: 1.75em;
      line-height: 1.125; } }

code {
  background: #F7F7F7;
  border-radius: 4.5px;
  border: 1px solid #E0E0E0;
  font-family: monaco;
  font-size: 0.7em;
  font-style: normal;
  padding: 0.1em 0.4em;
  white-space: nowrap; }

blockquote {
  font-size: 1.25em; }
  @media only screen and (min-width: 1024px) {
    blockquote {
      font-size: 1.5em; } }

p.date {
  color: rgba(72, 72, 72, 0.4);
  font-family: "Imprima", sans-serif;
  font-size: 0.9em;
  margin-bottom: 0.3em; }

p {
  font-family: "Imprima", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 1.5em; }
  p span {
    font-size: 0.8em;
    text-transform: uppercase; }

a.read-more {
  display: inline-block;
  font-family: "Imprima", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  margin-left: 0.2em;
  position: relative;
  text-transform: uppercase; }
  a.read-more span {
    font-size: 1.5em;
    position: absolute;
    right: -12px;
    top: -2px; }

a.more {
  display: inline-block;
  font-family: "Imprima", sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin-left: 0.2em;
  position: relative;
  text-transform: uppercase; }
  a.more span {
    font-size: 1.5em;
    position: absolute;
    right: -12px;
    top: -7px; }

hr {
  width: 3em; }

p.author {
  font-family: "Imprima", sans-serif; }

/* -------------------------------- 

Skills

-------------------------------- */
.skills {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .skills:after {
    content: "";
    display: table;
    clear: both; }
  .skills .progress-bar-indication {
    width: 90%;
    max-width: 600px;
    margin: 3em auto;
    background-color: #f2f2f2;
    border-radius: 3px;
    border: 1px solid #ABB7B7;
    box-shadow: inset 0 0 3px 0 rgba(115, 115, 115, 0.15); }
    .skills .progress-bar-indication p {
      line-height: 1.5em; }
    .skills .progress-bar-indication > span.meter {
      background-color: #f82f53;
      background-repeat: repeat-x;
      background-size: 40px 40px;
      border-bottom-right-radius: 0;
      border-radius: 2px;
      border-top-right-radius: 0;
      display: block;
      height: 100%;
      width: 60%; }
    .skills .progress-bar-indication p {
      font-size: 100%;
      color: white;
      font-weight: 400;
      margin: 0;
      padding: .1em .5em;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); }

/* -------------------------------- 

Form

-------------------------------- */
.cd-form {
  width: 90%;
  max-width: 600px;
  margin: 0 auto 4em; }
  .cd-form fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    margin: 24px 0;
    font-size: 1rem;
    font-family: "Imprima", sans-serif; }
  .cd-form div {
    /* form element wrapper */
    position: relative;
    margin: 20px 0; }
  .cd-form h4,
  .cd-form .cd-label {
    font-size: 1.2rem;
    color: #3e585f;
    margin-bottom: 10px; }
  .cd-form .cd-label {
    display: block; }
  .cd-form input,
  .cd-form textarea,
  .cd-form select,
  .cd-form label {
    font-family: "Imprima", sans-serif;
    font-size: 1.2rem;
    color: #3e585f; }
  .cd-form input[type="text"],
  .cd-form input[type="email"],
  .cd-form textarea,
  .cd-form select,
  .cd-form legend {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none; }
  .cd-form input[type="text"],
  .cd-form input[type="email"],
  .cd-form textarea,
  .cd-form select {
    /* general style for input elements */
    padding: 10px;
    border: 1px solid #ABB7B7;
    border-radius: 0.15em; }
    .cd-form input[type="text"]:focus,
    .cd-form input[type="email"]:focus,
    .cd-form textarea:focus,
    .cd-form select:focus {
      outline: none;
      border-color: #ffffff;
      background-color: #ffffff;
      box-shadow: 0px 2px 4px rgba(62, 88, 95, 0.5); }
  .cd-form #message:focus {
    background-color: #ffffff; }
  .cd-form .cd-select {
    /* select element wapper */
    position: relative; }
    .cd-form .cd-select::after {
      /* arrow icon for select element */
      content: '';
      position: absolute;
      z-index: 1;
      right: 16px;
      top: 50%;
      margin-top: -8px;
      display: block;
      width: 16px;
      height: 16px;
      background: url("../../images/form/cd-icon-arrow.svg") no-repeat center center;
      pointer-events: none; }
  .cd-form select {
    box-shadow: 0px 2px 4px rgba(62, 88, 95, 0.5);
    cursor: pointer; }
  .cd-form select::-ms-expand {
    display: none; }
  .cd-form .cd-form-list {
    margin-top: 16px; }
    .cd-form .cd-form-list:after {
      content: "";
      display: table;
      clear: both; }
  .cd-form .cd-form-list li {
    /* wrapper for radio and checkbox input types */
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 26px 16px 0;
    float: left; }
  .cd-form textarea {
    min-height: 200px;
    resize: vertical;
    overflow: auto; }
  .cd-form input[type="submit"] {
    /* button style */
    border: none;
    background: #f82f53;
    border-radius: 0.15em;
    padding: 8px 10px;
    color: #ffffff;
    font-weight: 400;
    float: right;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: 1.1rem;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); }
    .no-touch .cd-form input[type="submit"]:hover {
      background: #f94867; }
    .cd-form input[type="submit"]:focus {
      outline: none;
      background: #ffffff; }
    .cd-form input[type="submit"]:active {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      box-shadow: none; }
  .cd-form [required] {
    background: url("../../images/form/cd-required.svg") no-repeat top right; }
  .cd-form .error-message {
    display: none; }
  @media only screen and (min-width: 600px) {
    .cd-form div {
      /* form element wrapper */
      margin: 32px 0; }
    .cd-form legend + div {
      /* reduce margin-top for first form element after the legend */
      margin-top: 20px; }
    .cd-form h4,
    .cd-form .cd-label {
      font-size: 1.4rem;
      margin-bottom: 10px; }
    .cd-form input[type="text"],
    .cd-form input[type="email"],
    .cd-form textarea,
    .cd-form select {
      padding: 12px; } }

@-webkit-keyframes cd-bounce {
  0%, 100% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(0.8); } }
@keyframes cd-bounce {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }
/* -------------------------------- 

Custom icons

-------------------------------- */
.cd-form .icon input, .cd-form .icon select, .cd-form .icon textarea {
  padding-left: 54px !important; }
.cd-form .user {
  background: url("../../images/form/cd-icon-user.svg") no-repeat 16px center; }
.cd-form [required].user {
  background: url("../../images/form/cd-icon-user.svg") no-repeat 16px center, url("../../images/form/cd-required.svg") no-repeat top right; }
.cd-form .company {
  background: url("../../images/form/cd-icon-company.svg") no-repeat 16px center; }
.cd-form [required].company {
  background: url("../../images/form/cd-icon-company.svg") no-repeat 16px center, url("../../images/form/cd-required.svg") no-repeat top right; }
.cd-form .email {
  background: url("../../images/form/cd-icon-email.svg") no-repeat 16px center; }
.cd-form [required].email {
  background: url("../../images/form/cd-icon-email.svg") no-repeat 16px center, url("../../images/form/cd-required.svg") no-repeat top right; }
.cd-form .budget {
  background: url("../../images/form/cd-icon-budget.svg") no-repeat 16px center; }
.cd-form .message {
  background: url("../../images/form/cd-icon-message.svg") no-repeat 16px 16px; }
.cd-form [required].message {
  background: url("../../images/form/cd-icon-message.svg") no-repeat 16px 16px, url("../../images/form/cd-required.svg") no-repeat top right; }

/* -------------------------------- 

FLoating labels 

-------------------------------- */
.js .floating-labels div {
  margin: 28px 0; }
.js .floating-labels .cd-label {
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: auto;
  left: auto;
  font-size: 1.2rem;
  cursor: text;
  transition: top 0.2s, left 0.2s, font-size 0.2s; }
.js .floating-labels .icon .cd-label {
  left: 56px; }
.js .floating-labels .cd-label.float {
  /* move label out the input field */
  font-size: 1rem;
  top: -20px;
  left: 0 !important; }
@media only screen and (min-width: 600px) {
  .js .floating-labels legend + div {
    /* reduce margin-top for first form element after the legend */
    margin-top: 16px; }
  .js .floating-labels .cd-label {
    top: 14px; } }

/* -------------------------------- 

Middle

-------------------------------- */
.middle {
  border-bottom: 1px solid #ABB7B7;
  width: 90%; }
  @media only screen and (min-width: 1170px) {
    .middle {
      width: 100%; } }
  .middle h2 {
    font-size: 145%;
    margin-left: 20px;
    margin-bottom: 0.5em; }
  @media only screen and (min-width: 600px) {
   .middle h2 {                                                                             margin-left: 50px;}}
/* -------------------------------- 

Footer

-------------------------------- */
footer {
  background: #F7F7F7;
  padding: 1em 0 3em;
  width: 90%; }
  footer h3 {
 margin-left: 20px;
    font-size: 90%; }
  @media only screen and (min-width: 1170px) {
    footer {
      width: 100%; } }
  @media only screen and (min-width: 600px) {
   footer h3 {                                                                             margin-left: 50px;}}
.welcome .content {
  margin: 4em auto; }
  @media only screen and (min-width: 600px) {
    .welcome .content {
      max-width: 600px; } }
.welcome .view-more {
  text-align: center; }
.welcome .presentation {
  padding: 2em 0; }
  .welcome .presentation .cd-container {
    width: 90%;
    margin: 0 auto; }
    .welcome .presentation .cd-container:after {
      content: "";
      display: table;
      clear: both; }
    @media only screen and (min-width: 1170px) {
      .welcome .presentation .cd-container {
        max-width: 1170px;
        width: 100%; } }

.work .container {
  height: 2000px;
  width: auto; }
.work .content div {
  margin: 4em auto; }
.work .content aside {
  font-size: 85%; }
.work .content .tech-list li {
  display: inline-block;
  background: #F7F7F7;
  border-radius: 4.5px;
  border: 1px solid #E0E0E0;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 0.25em;
  padding: 0.1em 0.4em;
  white-space: nowrap; }
.work .content .tech-list a {
  color: #484848; }
@media only screen and (min-width: 890px) {
  .work .content a:hover {
    color: rgba(248, 47, 83, 0.7); }
  .work .content section {
    width: 68.5%; }
  .work .content aside {
    padding-top: 2em;
    width: 28.5%;
    margin-left: 3%; }
  .work .content .preview-left {
    display: inline-block; }
    .work .content .preview-left section {
      float: left; }
    .work .content .preview-left aside {
      float: right; }
  .work .content .preview-right {
    display: inline-block; }
    .work .content .preview-right section {
      float: right; }
    .work .content .preview-right aside {
      float: left; } }

.about .content {
  max-width: 600px;
  margin: 4em auto; }

.email-1 {
  margin-top: 4em; }

/*# sourceMappingURL=main.css.map */
